img {
    user-select: none;
    -webkit-user-drag: none;
}


body {
    overflow: hidden;


    color: rgb(0, 0, 0);
    background-color: black;
    background-image: url("Sprites/Background/BackgroundXP.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.player {
    height: 64px;
    width: 64px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    transition: left 0.1s linear;
    z-index: 3;
}

.floor {
    height: 48px;
    width: 120%;
    background-color: #245DDA;
    top: 95%;
    position: absolute;
    margin-left: -60px;
    z-index: 2;
}

.lightfloor {
    height: 250px;
    width: 120%;
    background-color: #336ae2;
    top: 94%;
    position: absolute;
    margin-left: -60px;
    z-index: 1;
}

.button-windows {

    position: absolute;
    top: 94.3%;
    z-index: 3;
    margin-left: -7px;

}

.taskbar-separator {
    position: absolute;
    top: 95%;
    z-index: 3;
    margin-left: 120px;
}

.Shortcuts {
    position: absolute;
    top: 10%;
    z-index: 5;
}

.icon-pattern {
    width: 64px;
    height: 64px;
    z-index: 5;
}

.icon-name {
    color: white;
    font-family: 'pixelated';
    font-size: .9rem;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    ;
    width: auto;
    text-align: center;
    margin-top: -1px;
}


.new-floor {
    background-color: rgb(55, 0, 128);
    position: absolute;
}

.build-preview {
    background-color: green;
    position: absolute;
    opacity: 0.3;
    z-index: 4;
}


.top-box-1 {
    height: 32px;
    width: 48px;
}

.mid-box-1 {
    width: 4px;
}

.mid-box-2 {
    height: 80px;
    width: 120px;
}

.low-box-1 {
    width: 96px;
}

.basic-block {
    background-color: #ffff;
    height: 32px;
    width: 32px;
    border: 48px solid;

    border-image: url("Sprites/Instances/Window/window.png");
    border-image-slice: 55 fill;
    border-radius: 40px;

    /* resize: both;
    overflow: auto;

    min-width: 32px;
    min-height: 32px; */
}

.edit-window {
    background-color: #ffff;
    height: 8px;
    width: 256px;
    border: 48px solid;

    display: flex;
    justify-content: space-between;

    border-image: url("Sprites/Instances/Window/window.png");
    border-image-slice: 55 fill;
    border-radius: 40px;

    transition: opacity 0.15s ease;

    z-index: 99999;
}

@starting-style {
    .edit-window {
        opacity: 0;
    }
}

.edit-window div {
    margin-top: -12px;
    height:52px;
    width: 52px;

    display: flex;

    text-align: center;

    flex-direction: column;
    justify-content: center;

    background-color: #0000005e;

}

.Active {
    background-color: green !important;
}

/* .create-button {}

.remove-button {}

.select-button {} */



/* -- | Fonts | -- */

@font-face {
    font-family: 'pixelated';
    src: url(Fonts/Gixel.ttf);
}